<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">My App</mat-toolbar>

<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nota 
        </mat-panel-title>
        <mat-panel-description>
          Crear o editar una nueva nota
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Titulo de la nota">
      </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="Categoria">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
  
      <mat-form-field >
        <textarea matInput placeholder="Cuerpo de la nota"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Guardar</button>



    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>
 
  </mat-accordion>

<!--Old-->
<div style="text-align:center">
  <h1>
     {{ title }}!
  </h1>
  <h1>Medios de Pago</h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<br>
<div>
    <img src="../assets/img/cb.png"  width="50" height="50">
    <h1>Cuenta Ahorros Corriente</h1>
</div>
<div>
    <img src="../assets/img/tc.png"  width="50" height="50">
    <h1>Tarjeta Creidito</h1>
</div>
<div>
    <img src="../assets/img/nq.png"  width="50" height="50">
    <h1>Nequi</h1>
</div>
<br>

<ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.name}}
</li>
  </ul>


<router-outlet></router-outlet>
